<%- paths = [doctors_path, "/new"] %>

<%= render "layouts/header" %>
<%= render "layouts/breadcrumb", paths: paths %>

<div class="container register">
  <h3 class="register-heading">
    Register your doctor
  </h3>
  <%= render "form", button_label: "Register", specializations: @specializations %>
</div>
