/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins;wght@300;400;500;600;700&display=swap")
@import "bootstrap"
@import "variables"

body
  font-size: 16px
  font-weight: 300
  color: $black_70
  min-height: 100vh
  overflow-x: hidden
  background: $body_bg_color
  font-family: "Poppins", sans-serif

a
  color: $main_color
  text-decoration: none
  &:hover 
    color: $main_color

img 
  max-width: 100%

ul
  margin: 0
  padding: 0
  list-style: none

h1, h2, h3, h4, h5, h6
  color: $black_90
  line_height: 1.3

::selection
  color: white
  background: $main_color

.container
  max-width: 1140px
  --bs-gutter-x: 15px

.row
  --bs-gutter-x: 30px

.box
  padding: 30px
  background: $white
  border-radius: 5px
  box-shadow: $shadow

.title
  font-size: 20px
  color: $main_color
  text-transform: capitalize

#error_explanation
  li 
    color: black

.btn-theme
  font-size: 16px
  background: none
  font-weight: 500
  padding: 8px 20px
  transition: all 0.3s ease
  text-transform: capitalize
  outline: 2px solid $main_color

  &:hover 
    color: white
    outline: none
    background: $main_color
  &:focus
    box-shadow: 0 0 8px $main_color

.hero-section
  padding: 80px 0
  min-height: 680px
  .hero-text
    h2
      font-size: 20px
      color: $main_color
    h1
      font-size: 45px
      font-weight: 700
  .hero-img
    margin: auto
    max-width: 430px
    position: relative
    img 
      z-index: 1
      position: relative

.doctor-details
  .doctor-header
    h2
      font-size: 30px
      margin: 0 0 15px
      font-weight: 600
    .rating
      .average-rating
        color: $orange
        font-weight: 600

.specializations
  padding: 30px
  margin-top: 8px
