<div class="breadcrumb-nav">
  <div class="container">
    <nav>
      <ul class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <%= link_to "Home", root_path %>
        </li>
        <li class="breadcrumb-item">
          <%= link_to params[:controller], path %>
        </li>
      </ul>
    </nav>
  </div>
</div>
